.intro-header {
    background-color: gray;
    background: no-repeat center center;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin-bottom: 50px;
}

.page-heading {
    padding: 100px 0 50px;
    color: #fff;
    text-align: center;
}

.small, small {
    font-size: 85%;
}

.page-heading h1 {
    font-size: 80px;
    margin-top: 0;
    color: #fff;
}

hr {
    border: 0;
    border-top: 1px solid #eee;
    height: 0;
    box-sizing: content-box;
}

.subheading {
    font-size: 24px;
    line-height: 1.1;
    display: block;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    margin: 10px 0 0;
}