/* FONTS */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,700,900);
/*margin of name*/
.col-nm-offset-3 {
    margin-left: 25%;
}

/* OVERALL ASPECT */
/*Subscribe*/
.input-lg {
    height: 45px;
    padding: 5px 50px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}

.input-nm {
    height: 45px;
    padding: 5px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}

#f1 ul li a i {
    background: #205D7A;
    color: #fff;
    width: 100px;
    height: 40px;
    font-size: 25px;
    text-align: center;
    margin-right: 10px;
    padding-top: 9%;
    transition: all 0.2s ease-in-out;
}

#f1 ul li {
    list-style-type: none;
    float: left;
}

.responsive-image {
    width: 100%;
    height: auto;
}

.row {
    margin-right: -50px;
    margin-left: 2px;
}

.oldblog {
    height: 100%;
    width: 100%;
    background-color: #0a0a0a;
    min-height: 20px;
    padding: 25px;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.blackbox {
    height: 100%;
    width: 100%;
    background-color: #0a0a0a;
    min-height: 20px;
    padding: 30px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.btn-group-lg > .btn, .btn-lg {
    padding: 10px 25px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}

.btn-primary {
    background-color: #e00920;
}

.form-group {
    margin-bottom: 15px;
    margin-left: 75px;
}

.post-title {
    position: relative;
    font-weight: 400;
    font-size: 1.5em;
}

.container2 {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}