/* FONTS */
@import "http://fonts.googleapis.com/css?family=Lato:300,400,700,900";
@import "http://fonts.googleapis.com/css?family=Raleway:400,300,700,900";
/*margin of name*/
.col-nm-offset-3 {
    margin-left: 25%;
}

/* OVERALL ASPECT */

body {
    background-color: white;
    font-family: "Lato", serif;
    font-weight: 300;
    font-size: 16px;
    color: #555;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    margin-top: 70px;
}

/*Subscribe*/
.subscribe {
    width: 100%;
    height: auto;
    padding: 20px 0px;
}

.subscribe button {
    background: none repeat scroll 0 0 #FFD440;
    border: 0.5px solid #FFFFFF;
    color: #080808;
    font-size: 18px;
    height: 45px;
    line-height: 14px;
    padding: 15px 30px;
    position: relative;
    transition: all 0.5s ease-in-out 0s;
}

.subscribe input {
    border: medium none;
    color: #BAB1B1;
    font-size: 18px;
    height: 45px;
    padding-left: 20px;
    width: 100%;
    border-radius: 0px;
}

.input-lg {
    height: 45px;
    padding: 5px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}

.input-nm {
    height: 45px;
    padding: 5px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}

.subscribe h1 {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    text-align: center;
    font-size: 68px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-transform: uppercase;
    color: #fff;
}

.subscribe h3 {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    text-align: center;
    font-size: 40px;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #fff;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", serif;
    font-weight: 300;
    color: #333;
}

/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
}

.centered {
    text-align: center;
}

/* Links */
a {
    color: #f85c37;
    word-wrap: break-word;
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.navbar {
    font-weight: normal;
    font-size: 22px;
    text-align: right;
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-inverse {
    background: black;
    border-color: black;
}

.navbar-inverse .navbar-nav > .active > a {
    color: red;
}

.navbar-inverse .navbar-nav > .sk > a {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    text-align: left;
    font-size: 22px;
    text-transform: uppercase;
    color: #fff;
}

.brandsk {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    text-align: left;
    font-size: 22px;
    text-transform: uppercase;
    color: #fff;
}

.navbar-inverse .navbar-brand {
    color: #999999;
    font-weight: bolder;
    font-size: 22px;
    letter-spacing: 1px;
    text-align: right;
}

.navbar-inverse .navbar-brand i {
    color: #ff7878;
    font-size: 22px;
    letter-spacing: 1px;
}

/*TILT*/
.tilt {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.tilt:hover {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

/* ==========================================================================
   YOutube Video
   ========================================================================== */

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
    background: url(../img/home.jpg) no-repeat center top;
    margin-top: -10px;
    padding-top: 20px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 579px;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.firsttime button {
    background: none repeat scroll 0 0 #FFD440;
    border: 0.5px solid #FFFFFF;
    color: #080808;
    font-size: 22px;
    height: 60px;
    line-height: 14px;
    padding: 15px 40px;
    position: relative;
    transition: all 0.5s ease-in-out 0s;
}

#headerwrap h1 {
    margin-top: 100px;
    color: white;
    font-size: 70px;
    font-weight: 300;
    letter-spacing: 3px;
}

#headerwrap h2 {
    color: white;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

/* Dark Grey Wrap */
#dg {
    background: #e0e0e0;
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
}

#dg h4 {
    font-weight: 700;
}

/* Light Grey */
#lg {
    background: #ebebeb;
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
}

#lg h4 {
    font-weight: 700;
}

/* Red Wrap */
#r {
    background: #ff7878;
    padding-top: 35px;
    padding-bottom: 35px;
}

#r h4 {
    color: white;
    font-weight: 700;
}

#r p {
    color: white;
}

/* Blue Wrap */

#blue {
    background: #3498db;
    padding-top: 35px;
    padding-bottom: 35px;
}

#blue h4 {
    color: white;
    font-weight: 700;
}

#blue p {
    color: white;
}

/* BLOG Wrap */
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

grid-framework.less:

17
.row {
    margin-right: -15px;
    margin-left: -15px;
}

/* Footer Wrap */
#f {
    background: #2d2d2d;
    padding-top: 30px;
    padding-bottom: 30px;
}

#f ul {
    overflow: auto;
}

#f ul li {
    list-style-type: none;
    float: left;
}

#f ul li a i {
    background: #205D7A;
    color: #fff;
    width: 130px;
    height: 130px;
    font-size: 5em;
    border-radius: 98px;
    text-align: center;
    margin-right: 10px;
    padding-top: 15%;
    transition: all 0.2s ease-in-out;
}

#f ul li a i:hover {
    opacity: .7;
}

#ftext {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    text-align: center;
    font-size: 40px;
    margin-top: 10px;
    padding-top: 2px;
    color: #fff;
    text-align: left;
    padding-bottom: 2px;
}

#fstext {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    text-align: center;
    font-size: 20px;
    padding-top: 2px;
    color: #fff;
    text-align: center;
    padding-bottom: 2px;
}

/****** SECTIONS *****/

.w {
    padding-top: 35px;
}

.w h4 {
    font-weight: 700;
}

.w i {
    color: #ff7878;
    font-size: 30px;
}

.wb {
    padding-top: 35px;
    margin-bottom: 0px;
}

.wb h4 {
    font-weight: 700;
}

.desc {
    padding-top: 35px;
}

.desc h4 {
    font-weight: 700;
}

.desc i {
    color: #ff7878;
    font-size: 12px;
    padding: 5px;
}

/***** MODAL CONTACT *****/
.modal-content {
    border-radius: 0px;
}

.modal-header {
    background: #bdbdbd;
    color: white;
}

.modal-header h4 {
    font-weight: 700;
}

.modal-body {
    background: #f2f2f2;
    font-family: "Lato", serif;
    font-weight: 300;
    font-size: 16px;
    color: #555;
}

.modal-footer {
    background: #f2f2f2;
    margin-top: 0px;
}

/*iLinker*/
.iplink {
    width: 100%;
    height: auto;
    padding: 20px 0px;
}

.iplink button {
    background: none repeat scroll 0 0 #FFD440;
    border: 0.5px solid #FFFFFF;
    color: #080808;
    font-size: 18px;
    height: 45px;
    line-height: 14px;
    padding: 15px 30px;
    position: relative;
    transition: all 0.5s ease-in-out 0s;
}

.iplink input {
    border: medium none;
    color: #BAB1B1;
    font-size: 18px;
    height: 45px;
    padding-left: 20px;
    width: 100%;
    border-radius: 0px;
}

.input-lg {
    height: 45px;
    padding: 5px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}

.input-nm {
    height: 45px;
    padding: 5px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}

.iplink h1 {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    text-align: center;
    font-size: 68px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-transform: uppercase;
    color: #fff;
}

.iplink h3 {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    text-align: center;
    font-size: 40px;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #fff;
}

/**footer**/
footer .quickLinks ul li a:hover {
    color: #00adee;
}

footer {
    background: #ebebeb;
    width: 100%;
}

footer h3 {
    color: #424242;
    font-size: 24px;
    font-weight: 500;
}

footer ul {
    padding-left: 20px;
}

footer ul li {
    padding: 0 5px;
    border-bottom: 1px solid #e1e1e1;
    font-weight: 500;
}

footer ul li:last-child {
    border: none;
    font-weight: 500;
}

footer ul li a {
    font-size: 12px;
    font-weight: 300;
    color: #747474;
    display: block;
    padding: 5px 0;
}

.copy {
    background: #d7d7d7;
    width: 100%;
}

.copy p {
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: #333;
}

.add {
    font-size: 14px;
    font-weight: 300;
    color: #747474;
}

/**SUCCESSNSTORIES**/
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
    max-height: 350px !important;
}

.carousel {
    background: url(../img/ss.png);
    position: relative;
    padding: 10px;
    /* Shows as a border around the carousel */;
}

/**SOCIAL MEDIA SECTION**/
.card {
    position: relative;
    display: inline-block;
}

.card .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.card:hover .img-top {
    display: inline;
}