#get {
    background-image: url('img\social icons\getintouch.png');
    height: 312px;
    width: 200px;
}

#facebook {
    background-image: url('img\social icons\fw.png');
    height: 312px;
    width: 200px;
}

#facebook:hover {
    background-image: url('img\social icons\fc.png');
}

#insta {
    background-image: url('img\social icons\iw.png');
    height: 312px;
    width: 200px;
}

#insta:hover {
    background-image: url('img\social icons\ic.png');
}

#snap {
    background-image: url('img\social icons\sw.png');
    height: 312px;
    width: 200px;
}

#snap:hover {
    background-image: url('img\social icons\sc.png');
}

#twitter {
    background-image: url('img\social icons\tw.png');
    height: 312px;
    width: 200px;
}

#twitter:hover {
    background-image: url('img\social icons\tc.png');
}

#youtube {
    background-image: url('img\social icons\yw.png');
    height: 312px;
    width: 200px;
}

#youtube:hover {
    background-image: url('img\social icons\yc.png');
}